# Python
__pycache__

# Latex
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.brf
*.lof
*.lot
*.idx
*.nlo

# IDE
.idea

# Project
__weights__
article.pdf
*paths7
*paths8
*output
*losses
*paths
presentation
*results
comparisons/semantic segmentation/weights
results_ale
aerial_ssdd
aeroscapes
